

    <div style="background-color: rgba(255, 255, 255, 1); height: 250px; padding-top: 4%; margin-top: 4%;">
        <h5 style="text-align: center;" >@hoverban.com</h5>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-3" style="text-align: center">
            <h4 >ABOUT HOVERBAN</h4>
            <a href="#"><p>About us</p></a>
            <a href="#"><p>Privacy Policy</p></a>
            <a href="#"><p>Cookie Policy</p></a>
            <a href="#"><p>Terms & Conditions</p></a>
        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-3" style="text-align: center">
            <h4>CUSTOMER SERVICE</h4>
            <a href="#"><p>Orders & Shipping</p></a>
            <a href="#"><p>Returns & Refunds</p></a>
            <a href="#"><p>FAQs</p></a>
            <a href="#"><p>Contact Us</p></a>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
