
<div class="container" style="margin-top: 0.5%" ng-app="navApp">

        <nav class="navbar" style="margin-bottom: 0;">
            <div class="container-fluid" style="text-align: center;">
                <div style="display: inline-block;">
                    <ul class="nav navbar-nav" >
                        <li><a href="#!hoverban">HOVERBAN</a></li>
                        <li><a href="#!men">MEN</a></li>
                        <li><a href="#!women">WOMEN</a></li>
                        <li><a href="#!designer">DESIGNER</a></li>
                        <li><a href="#!fittingRoom">FITTING ROOM</a></li>
                        <li><a href="#!sales">SALES</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>


<hr width="100%" style="border-style: solid; border-width: 1px; margin-top: 1px;">

